RestApiProjekt/Asteroid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestApiProjekt.Models">
  <xs:element name="Asteroid">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="xs:string"/>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="EstimatedMinimumDiameter" type="xs:string"/>
        <xs:element name="EstimatedMaximumDiameter" type="xs:string"/>
        <xs:element name="PotentiallyHazardous" type="xs:string"/>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
